<div class="container pt-5">
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a> 
    <h1 class="text-center">{{name}}</h1>
    <h4 class="text-center">{{text}}</h4>
    <br>
    <br>
    <div class="text-center">
        <button class="btn btn-primary"><i class="icon-microphone icon-3x" id="microphone-start"></i></button>
        <button class="btn btn-danger"><i class="icon-circle icon-3x" id="microphone-stop"></i></button>
        <br>
        <br>
        <section id="sound-clips">
        </section>
        <br>
        <form method="POST" action="/prompts/{{promptId}}">
            <input type="hidden" id="speech-input" name="speechSubmission"></input>
            <button type="submit" class="btn btn-secondary hidden" id="submit-speech">Submit Response</button>
        </form>
    </div>
</div>

<script src="/scripts/microphone-scripts.js"></script>
