<input type="hidden" id="user-language" value={{languageCode}}></input>
<div class="container pt-5">
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a>
    <h1 class="text-center">{{name}}</h1>
    <h4 class="text-center">{{text}}</h4>
    <br>
    <div class="text-center">
        <div class="alert alert-danger hidden" id="word-length-error" role="alert">
            Your answer must have at least 20 words. Please try again.
        </div>
        <br>
        <button class="btn btn-primary" id="microphone-start"><i class="icon-microphone icon-3x"></i></button>
        <button class="btn btn-danger" id="microphone-stop"><i class="icon-circle icon-3x"></i></button>
        <br>
        <br>
        <p>You said:
        </p>
        <div class="form-group">
            <textarea id="speech-as-text" class="text-center form-control" readonly>
            </textarea>
        </div>
        <br>
        <section id="sound-clip">
        </section>
        <br>
        <form method="POST" action="/prompts/{{promptId}}">
            <input type="hidden" id="speech-input" name="speechSubmission"></input>
            <button type="submit" class="btn btn-secondary hidden" id="submit-speech">Submit Response</button>
        </form>


    </div>


</div>

<script src="/scripts/microphone-scripts.js"></script>


