<div class="container ">
    <h1 class="text-center pt-5">Prompts</h1>
    <a class="btn btn-primary btn-circle btn-circle-lg m-1" href="/" ><i class="fa fa-home"></i></a>   
    <table class="table">
        <thead> 
            <th>Name</th> 
            <th>Text</th> 
        </thead> 
        <tbody> 
            {{!-- {{#each userPrompt}} 
            <tr> 
                <td>{{language}}</td> 
                <td>{{text}}</td> 
            </tr> 
            {{/each}}  --}}
        </tbody> 
    </table>  

    {{language}}

    
</div>
